/* 버튼 공통 css */
#wrap main .best_container .buy_btn,
#wrap main .advertise .more_btn,
#wrap main div .show_btn,
#wrap main .content1 .right_info .buy_btn {
    border: 1px solid #a3a3a3;
    padding: 6px 15px; display: inline-block;
    width: max-content; margin: 0 auto;
    color: #1D1D1D; font-weight: 300; font-size: 0.88rem;
}

/* 함께 사용하면 좋은 제품 공통 디자인 */
#wrap main .best_container .more_items {
    padding: 0 37px;
}
#wrap main .best_container .more_items li {
    width: 180px; height: 180px;
    border: 1px solid #e6e6e6; text-align: center; margin-bottom: 20px;
    border-radius: 2px;
}
#wrap main .best_container .more_items li:last-child {margin-bottom: 0;}
#wrap main .best_container .more_items li a {}
#wrap main .best_container .more_items li a img {
    height: 100%;
}

/*  =================================헤더 ===================================== */
#wrap header {
    position: fixed; width: 100%; z-index: 999;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    height: 69px;
    padding: 0 30px;
 /*    background-color: yellow; */
}
#wrap header #gnb {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
    gap: 20px;
}
#wrap header #gnb .logo {
    width: 150px;
    display: inline-block;
    
}
#wrap header #gnb .logo a {}
#wrap header #gnb .logo a img {width: 100%;}
#wrap header #gnb .menu {display: inline-block;}
#wrap header #gnb .menu li {
    display: inline-block; 
    margin-right: 25px;
}
#wrap header #gnb .menu li:last-child {margin-right: 0;}
#wrap header #gnb .menu li a {
    font-size: 0.94rem; font-weight: 500; /* color: #fff; */
 /*    background-color: yellowgreen; */
}
#wrap header .function {background-color: whitesmoke;}
#wrap header .function a {
    width: 22px; height: 22px;
    display: inline-block;
    margin-left: 15px;
}
#wrap header .function a:first-child {margin-left: 0;}
#wrap header .function a img {width: 100%;}
/*  =================================헤더 끝 ===================================== */
/*  =================================푸터 ===================================== */
/*  =================================푸터 끝 ===================================== */
