/* 버튼 공통 css */
#wrap header .more_btn,
#wrap main .best_container .buy_btn,
#wrap main .advertise .more_btn,
#wrap main div .show_btn,
#wrap main .content1 .right_info .buy_btn {
    border: 1px solid #a3a3a3;
    padding: 6px 15px; display: inline-block;
    width: max-content; margin: 0 auto;
    color: #1D1D1D; font-weight: 300; font-size: 0.88rem;
}

/* 함께 사용하면 좋은 제품 공통 디자인 */
#wrap main .best_container .more_items {
    padding: 0 37px;
}
#wrap main .best_container .more_items li {
    width: 180px; height: 180px;
    border: 1px solid #e6e6e6; text-align: center; margin-bottom: 20px;
    border-radius: 2px;
}
#wrap main .best_container .more_items li:last-child {margin-bottom: 0;}
#wrap main .best_container .more_items li a {}
#wrap main .best_container .more_items li a img {
    height: 100%;
}

/*  =================================헤더 ===================================== */
/* =======================================header start====================== */
#wrap header {
    position: fixed; width: 100%; z-index: 999;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    height: 69px;
    padding: 0 30px;
 /*    background-color: yellow; */
}
#wrap header #gnb {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
    gap: 20px;
}
#wrap header #gnb .logo {
    width: 150px;
    margin-right: 10px;
    display: inline-block;
    /* background-color: yellowgreen; */
}
#wrap header #gnb .logo a {}
#wrap header #gnb .logo a img {width: 100%;}
#wrap header #gnb .menu {display: inline-block;}
#wrap header #gnb .menu li {
    display: inline-block; 
    margin-right: 30px;
}
#wrap header #gnb .menu li:last-child {margin-right: 0;}
#wrap header #gnb .menu li a {
    font-size: 0.94rem; font-weight: 500; color: #fff;
    /* background-color: yellowgreen; */
}

/* -----------------------제품 서브메뉴------------------------- */
#wrap header .product_menu {
    position: absolute; left: 0; top: 69px; width: 100%; 
    background:rgba(255, 255, 255, 0.7); height: 100vh; display: flex;
    display: none;
}
#wrap header .product_menu .sub_menu {
    background-color: #fff; display: flex; flex-flow: row nowrap; text-align: start; gap: 20px;
    height: 565px; padding: 50px 30px; border-bottom: 1px solid #eeee;
}
#wrap header .product_menu .sub_menu > * {width: 278px;}
#wrap header .product_menu .sub_menu h2 {font-size: 1.13rem; font-weight: 600;}
#wrap header .product_menu .sub_menu ul {
    padding: 0 42px; border-left: 1px solid #E5E5E5;
}
#wrap header .product_menu .sub_menu ul li:first-child {
    font-weight: 600;font-size: 0.95rem;
    margin-bottom: 30px;
}
#wrap header .product_menu .sub_menu ul li {
    font-size: 0.88rem; color: #2B2B2B; margin-bottom: 22px;
}
#wrap header .product_menu .sub_menu .sub4 {}
#wrap header .product_menu .sub_menu .sub4 li:last-child {}
#wrap header .product_menu .sub_menu .sub4 li:last-child a {
    display: block; width: 150px; margin-bottom: 10px;
}
#wrap header .product_menu .sub_menu .sub4 li:last-child a img {width: 100%;}
#wrap header .product_menu .recommend {
    background-color: #fff; height: 565px; width: 100%; display: flex; gap: 30px;
}
#wrap header .product_menu .recommend a {
    width: 180px; position: relative; right: 270px; top: 120px;
}
#wrap header .product_menu .recommend a img {width: 100%;}
/* ------------------------제품 서브메뉴 끝------------------- */

#wrap header .function {/* background-color: whitesmoke; */}
#wrap header .function a {
    width: 22px; height: 22px;
    display: inline-block;
/*     background-color: yellowgreen; */
    margin-left: 15px;
}
#wrap header .function a:first-child {margin-left: 0;}
#wrap header .function a img {width: 100%;}
/*  =================================검색창 ===================================== */
#wrap header .search_popup {display: none;}
#wrap header .search_popup::before {}
#wrap header .search_popup .popup_wrap  {
    position: absolute; top: 69px; left: 50%; transform: translateX(-50%);
    background: #fff; width: 100%; height: 750px;
    display: flex; flex-flow: column nowrap; align-items: center;
    border-bottom: 1px solid #eeee; 
}
#wrap header .search_popup .popup_wrap  .back {
    width: 32px;
    position: absolute; right: 25px; top: 10px;
}
#wrap header .search_popup .popup_wrap  .back img {width: 100%;}
#wrap header .search_popup .popup_wrap  .search_container {
    margin-top: 60px;
}
#wrap header .search_popup .popup_wrap  .search_container p {
    font-size: 0.88rem; font-weight: 500;
    margin-bottom: 20px;
}
#wrap header .search_popup .popup_wrap  .search_container .search_bar {
    border-bottom: 1px solid #000;
    width: 450px; padding: 0 0 6px;
}
#wrap header .search_popup .popup_wrap  .search_container .search_bar .search_form {
    display: flex; flex-flow: row; justify-content: space-between;
}
#wrap header .search_popup .popup_wrap  .search_container .search_bar .search_form .input_design {
    background: none; font-size: 0.88rem; padding: 10px 5px;
}
#wrap header .search_popup .popup_wrap  .search_container .search_bar .search_form .search {width: 24px;}
#wrap header .search_popup .popup_wrap  .search_container .search_bar .search_form .search img {width: 100%;}

/*  =================================인기검색어 ===================================== */

#wrap header .search_popup .popup_wrap  .popular_container {
    width: 450px;
}
#wrap header .search_popup .popup_wrap  .popular_container p {
    padding: 30px 0;
    font-weight: 600; font-size: 0.85rem;
}
#wrap header .search_popup .popup_wrap  .popular_container .popular_search {height: 130px;}
#wrap header .search_popup .popup_wrap  .popular_container .popular_search .swiper-wrapper {}
#wrap header .search_popup .popup_wrap  .popular_container .popular_search .swiper-wrapper .swiper-slide {
}
#wrap header .search_popup .popup_wrap  .popular_container .popular_search .swiper-wrapper .swiper-slide a {
    font-size: 0.81rem; 
}
#wrap header .search_popup .popup_wrap  .popular_container .popular_search .swiper-wrapper .slide1 {}
/*  =================================인기검색어 끝===================================== */
/*  =================================추천상품 ===================================== */
#wrap header .search_popup .popup_wrap  .recommend_container {text-align: center;}
#wrap header .search_popup .popup_wrap  .recommend_container > p {font-size: 0.85rem; font-weight: 500; margin: 30px 0;}
#wrap header .search_popup .popup_wrap  .recommend_container .recommend_item {
    display: flex; flex-flow: row nowrap; gap: 20px;
}
#wrap header .search_popup .popup_wrap  .recommend_container .recommend_item li {}
#wrap header .search_popup .popup_wrap  .recommend_container .recommend_item li a {
    display: block; width: 150px; height: 150px;
    border: 1px solid #e6e6e6; margin-bottom: 10px;
}
#wrap header .search_popup .popup_wrap  .recommend_container .recommend_item li a img {height: 100%;}
#wrap header .search_popup .popup_wrap  .recommend_container .recommend_item li .item_name {
    font-size: 0.78rem; margin: 6px 0; color: #282828; margin-bottom: 70px;
}
/*  =================================헤더 끝 ===================================== */
/*  =================================푸터 ===================================== */
#wrap footer {
    padding: 47px 150px 97px;
    background: #333333;
}
#wrap footer .footer_contents {
    display: flex; flex-flow: row nowrap; justify-content: space-between; 
}
#wrap footer .footer_contents .footer_left {}
#wrap footer .footer_contents .footer_left p {
    font-size: 0.81rem; font-weight: 500; margin-bottom: 20px; color: #fff;
}
#wrap footer .footer_contents .footer_left .business_regist_info {}
#wrap footer .footer_contents .footer_left .business_regist_info li {
    font-size: 0.81rem; margin-bottom: 8px;
    color: #DFDFDF;
}
#wrap footer .footer_contents .footer_left .business_regist_info li:last-child {
    margin-bottom: 0; font-size: 0.88rem; font-weight: 700; margin-top: 10px;
    color: #fff;
}
#wrap footer .footer_contents .footer_left .business_regist_info li:last-child span {
    font-size: 0.81rem; font-weight: 500;
    color: #DFDFDF;
}
#wrap footer .footer_contents .footer_right {
    display: flex; flex-flow: row nowrap; text-align: end;
}
#wrap footer .footer_contents .footer_right .category {width: 190px;}
#wrap footer .footer_contents .footer_right .category .title a {
    font-size: 0.88rem; color: #fff; font-weight: 500; 
    margin-bottom: 20px; display: block;
}
#wrap footer .footer_contents .footer_right .category dd a {
    font-size: 0.88rem; font-weight: 300; color: #C3C3C3;
    margin-bottom: 16px; display: block;
}
#wrap footer > p {
    text-align: center; font-size: 0.63rem; color: #fff; font-weight: 300;
    transform: translateY(90px);
}
/*  =================================푸터 끝 ===================================== */



